In [2]:
import pandas as pd
import os

In [3]:
os.chdir(r"C:\Users\aman.khatri91425\Desktop\HomeCredit\Bigdata\Common Maps KNN\Converted Files")

In [15]:
for r, d, f in os.walk(os.getcwd()):
#     print(r)
#     print(d)
    files = [x for x in f if 'pkl' in x]

In [21]:
df=pd.DataFrame()

for x in files:
    df_tmp = pd.read_pickle(os.getcwd()+"\\"+x)
    df = pd.concat([df,df_tmp])

In [23]:
df1 = pd.read_csv(r"C:\Users\aman.khatri91425\Desktop\HomeCredit\Bigdata\Common Maps KNN\Data Files\Geocoding Base Combined.csv")

In [26]:
df.head()

   SKP_CREDIT_CASE                LAT               LONG          GRID_ID
0        244437126          9.9204671         78.1118972  500_01961_00570
1        244439955         13.0195677         77.5968131  500_01859_01260
2        244541272         17.4418059          78.538933  500_02073_02228
3        244556999         13.0464351  77.51481199999999  500_01841_01266
4        244560695  9.966648099999999         78.1365902  500_01967_00581

In [28]:
df.to_csv(r"C:\Users\aman.khatri91425\Desktop\HomeCredit\Bigdata\Common Maps KNN\Data Files\Upload Geocoded Base.csv", index = False)

In [30]:
df.shape

(1331227, 4)

In [32]:
df1.head()

,SKP_CREDIT_CASE,DATE_DECISION,TOWN,STREET,LANDMARK,ZIP,LOCALITY,SKP_CLIENT
0,244437126,01-08-19,Madurai,periyarnagar,sbi,625001,madurai,73168710
1,244439955,03-08-19,Bengaluru,th Cross,R T Nagar,560032,Adi Kabir Asharam,73172349
2,244541272,01-08-19,KV Ranga reddy,sattireddy nagar colony,behind takshila school,500047,malkajgiri,73216112
3,244556999,04-08-19,Bengaluru,PRASHANT NAGAR,VIJAYA HOSPITAL,560057,T DASARAHALLI,47437183
4,244560695,02-08-19,Madurai,"Meenakshi Street,",Cooperative Bank,625014,Indian Bank Colony,73219521

In [36]:
df_m=df1.merge(df,on='SKP_CREDIT_CASE',how = 'left')

In [41]:
df_m = df_m[df_m["LAT"].isna()][["SKP_CREDIT_CASE","DATE_DECISION","TOWN","STREET","LANDMARK","ZIP","LOCALITY","SKP_CLIENT"]]

In [45]:
df_m.to_csv(r"C:\Users\aman.khatri91425\Desktop\HomeCredit\Bigdata\Common Maps KNN\Data Files\Missing Geocoding Base.csv", index = False)

# Missing Data

In [47]:
for r, d, f in os.walk(os.getcwd()):
#     print(r)
#     print(d)
    files = [x for x in f if 'pkl' in x and 'm' in x]

In [48]:
df=pd.DataFrame()

for x in files:
    df_tmp = pd.read_pickle(os.getcwd()+"\\"+x)
    df = pd.concat([df,df_tmp])

In [49]:
df.shape

(52252, 4)

In [50]:
df.to_csv(r"C:\Users\aman.khatri91425\Desktop\HomeCredit\Bigdata\Common Maps KNN\Data Files\Upload Geocoded Base Missing.csv", index = False)

In [ ]:
# Libraries used to grab the URL web stuff and import json 
import urllib.request, urllib.parse, urllib.error 
import json 
  
# Note that Google is increasingly requiring keys 
# for this API 
# service URL for Google Maps API 
serviceurl = 'http://maps.googleapis.com/maps/api/geocode/json?'
  
while True: 
    address = input('Enter location: ') 
    if len(address) < 1: break
      
    # Concatenate the serviceurl and urllib.parse.urlencode 
    # which give a dictonary of address equal and this bit  
    # right here 
    url = serviceurl + urllib.parse.urlencode( 
        {'address': address}) 
  
    print('Retrieving', url) 
  
    # urlopen() to get a handle 
    uh = urllib.request.urlopen(url) 
    # Read the whole document in UTF-8 
    data = uh.read().decode() 
    print('Retrieved', len(data), 'characters') 
  
    # Load internal strings 
    try: 
        js = json.loads(data) 
    except: 
        js = None
    # If false then quit and print data 
    if not js or 'status' not in js or js['status'] != 'OK': 
        print('==== Failure To Retrieve ====') 
        print(data) 
        continue
      
    # Call json dump and print it with an indent of four 
    print(json.dumps(js, indent = 4)) 
      
    # Parsing and printing 
    lat = js["results"][0]["geometry"]["location"]["lat"] 
    lng = js["results"][0]["geometry"]["location"]["lng"] 
    print('lat', lat, 'lng', lng) 
    location = js['results'][0]['formatted_address'] 
    print(location)

Enter location: 89/10 Bharat Colony, Rohtak
Retrieving http://maps.googleapis.com/maps/api/geocode/json?address=89%2F10+Bharat+Colony%2C+Rohtak
Retrieved 237 characters
==== Failure To Retrieve ====
{
   "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
   "results" : [],
   "status" : "REQUEST_DENIED"
}

Enter location: Dehradun
Retrieving http://maps.googleapis.com/maps/api/geocode/json?address=Dehradun
Retrieved 237 characters
==== Failure To Retrieve ====
{
   "error_message" : "You must use an API key to authenticate each request to Google Maps Platform APIs. For additional information, please refer to http://g.co/dev/maps-no-account",
   "results" : [],
   "status" : "REQUEST_DENIED"
}