In [53]:
import xgboost as xgb
import numpy as np
import pandas as pd
import time
import pickle
import os
from math import log
import matplotlib.pyplot as plt

import sklearn
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV, ParameterGrid,StratifiedKFold, cross_val_score

from sklearn import metrics 
from sklearn.metrics import confusion_matrix, precision_recall_curve, average_precision_score, brier_score_loss, f1_score, log_loss,auc,roc_curve,auc

from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.ensemble import RandomForestClassifier

from sklearn.decomposition import PCA
#from sklearn.utils.fixes import signature

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [54]:
import pandas as pd
import numpy as np

In [55]:
pbdf = pd.read_csv("..\\PBData\\INCEPTION_MATCH_FINAL2.csv")
mesdq_df = pd.read_excel("..\\PBData\\DATA3.xlsx")
hcdf = pd.read_csv("..\\HCData\\FullDataHC20191029\\Active_Mobiles_HC_Data.csv")

C:\Users\sgupta\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
print(pbdf.shape)
print(mesdq_df.shape)
print(hcdf.shape)

(3557518, 18)
(155791, 5)
(637826, 22)

In [57]:
pbdf["ACTIVITY_DATE"] = pd.to_datetime(pbdf['ACTIVITY_DATE'],format='%d%b%Y' )
mesdq_df['time_decision_date'] = pd.to_datetime(mesdq_df['time_decision_date'],format='%Y-%m-%d' )
pbdf['month'] = pbdf['ACTIVITY_DATE'].dt.strftime("%Y-%m")
hcdf['TIME_DECISION_DATE'] = pd.to_datetime(hcdf['TIME_DECISION_DATE'],format='%d-%m-%y' )

In [59]:
hcdf1 = pd.merge(hcdf,mesdq_df,how='left',left_on=['MOBILE','PRODUCT_GROUP','TIME_DECISION_DATE'],
                 right_on=['mobile','product_group','time_decision_date'])

In [60]:
hcdf1['mesdq'] = hcdf1['final_mes'] 
hcdf1.drop(columns=['mobile','member_id','product_group','time_decision_date','final_mes'],inplace=True )

In [61]:
df = pd.merge(pbdf,hcdf1,how="inner",left_on='DQ_MOBILE_PHONE',right_on = 'MOBILE')

In [62]:
df[pd.isna(df['mesdq_y']) ==False]['mesdq_x'] =  df[pd.isna(df['mesdq_y']) ==False]['mesdq_y']

C:\Users\sgupta\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
df["mesdq"] = df["mesdq_x"]
df.drop(columns=["mesdq_y",'mesdq_x'],inplace=True)
df['ACTIVITY_DATE'] = pd.to_datetime(df['ACTIVITY_DATE'],format='%d%b%Y' )
df= df[df['ACTIVITY_DATE']<df["TIME_DECISION_DATE"]]
df['weekend_flg'] = df['ACTIVITY_DATE'].apply(lambda x:1 if (x.day ==6)|(x.day ==7) else 0)

In [64]:
cust = df.groupby(["MOBILE","PRODUCT_GROUP"]).agg({"MEMBER_ID":['nunique'],
                        "ACTIVITY_ID": ['nunique'],
                        "ACTIVITY_VALUE" : ['max','min','median','std','mean'],
                        "ALLOCATED_POINTS": ['max','min','median','std','mean'],
                        "mesdq": ['max'],
                        "category":['nunique'],
                        "p_commercial_name":['nunique'],
                        "partner_type":['nunique'],
                        "TIME_DECISION_DATE" : ['max'],
                        "ACTIVITY_DATE" : ['min','max']
                         })
cust.columns = ["_".join(x) for x in cust.columns.ravel()]
cat=df["category"].unique()

In [65]:
for x in ["Earn","Burn"]:
    for y in cat:
        for z in [90,180,365,1000]:
            tmp = df[(df["type"] == x) & (df["category"]== y) & ((df["TIME_DECISION_DATE"]-df['ACTIVITY_DATE']).dt.days<=z)].groupby(['MOBILE','PRODUCT_GROUP']).agg({ "ACTIVITY_VALUE" : ['max','min','median','std','mean','sum'],
                        "ALLOCATED_POINTS": ['max','min','median','std','mean','sum'],
                        "ACTIVITY_ID": ['count'],
                        "category":['nunique'],
                        "month" : ['nunique'],
                        "ACTIVITY_DATE" : ['nunique']
                        })
            tmp.columns = [s + "_" + y + "_" + str(z) + "_"+ x for s in ["_".join(x) for x in tmp.columns.ravel()]]
            cust[[x for x in tmp.columns]] = tmp[[x for x in tmp.columns]]

for x in [x for x in cust.columns if '1000' in x]:
    cust[x.replace("1000","90_by_1000")] = cust[x.replace("1000","90")]/cust[x]
    cust[x.replace("1000","180_by_1000")] = cust[x.replace("1000","180")]/cust[x]
    cust[x.replace("1000","365_by_1000")] = cust[x.replace("1000","365")]/cust[x]

cust['MOB'] = (cust['TIME_DECISION_DATE_max']-cust["ACTIVITY_DATE_min"]).dt.days

for y in cat:
    for z in [90,180,365,1000]:
        tmp = df[(df["weekend_flg"] == 1) & (df["category"]== y) & ((df["TIME_DECISION_DATE"]-df['ACTIVITY_DATE']).dt.days<=z)].groupby(['MOBILE','PRODUCT_GROUP'])['ACTIVITY_ID'].count()
        cust["weekend_ratio_" + str(z) +"_"+y] = tmp

for x in ["Earn","Burn"]:
    for z in [90,180,365,1000]:
        tmp = df[(df["type"] == x) & ((df["TIME_DECISION_DATE"]-df['ACTIVITY_DATE']).dt.days<=z)].groupby(['MOBILE','PRODUCT_GROUP']).agg({ 
                    "ALLOCATED_POINTS": ['sum']
                    })
        tmp.columns = [s + "_" + str(z) + "_"+ x for s in ["_".join(x) for x in tmp.columns.ravel()]]
        cust[[x for x in tmp.columns]] = tmp[[x for x in tmp.columns]]
        
for x in [y for y in [x for x in cust.columns if 'Earn' in x ] if 'sum' in y]:
    cust[x.replace("Earn","Earn_by_Burn")] = cust[x]/cust[x.replace("Earn","Burn")]
    
df = df.sort_values(by =['MOBILE','PRODUCT_GROUP','ACTIVITY_DATE'],ascending=False)

cust["ALLOCATED_POINTS_EARN_LAG0"]=df[df["type"]=="Earn"].drop_duplicates(subset=['MOBILE','PRODUCT_GROUP'],keep='first').set_index(['MOBILE','PRODUCT_GROUP'])["ALLOCATED_POINTS"]
cust["ALLOCATED_POINTS_EARN_LAG1"] = df[df["type"]=="Earn"].set_index(['MOBILE','PRODUCT_GROUP']).groupby(['MOBILE','PRODUCT_GROUP']).shift(-1).reset_index().drop_duplicates(subset=['MOBILE','PRODUCT_GROUP']).set_index(['MOBILE','PRODUCT_GROUP'])["ALLOCATED_POINTS"]
cust["ALLOCATED_POINTS_EARN_LAG2"] = df[df["type"]=="Earn"].set_index(['MOBILE','PRODUCT_GROUP']).groupby(['MOBILE','PRODUCT_GROUP']).shift(-2).reset_index().drop_duplicates(subset=['MOBILE','PRODUCT_GROUP']).set_index(['MOBILE','PRODUCT_GROUP'])["ALLOCATED_POINTS"]
cust["ALLOCATED_POINTS_EARN_LAG3"] = df[df["type"]=="Earn"].set_index(['MOBILE','PRODUCT_GROUP']).groupby(['MOBILE','PRODUCT_GROUP']).shift(-3).reset_index().drop_duplicates(subset=['MOBILE','PRODUCT_GROUP']).set_index(['MOBILE','PRODUCT_GROUP'])["ALLOCATED_POINTS"]

cust["ALLOCATED_POINTS_BURN_LAG0"]=df[df["type"]=="Burn"].drop_duplicates(subset=['MOBILE','PRODUCT_GROUP'],keep='first').set_index(['MOBILE','PRODUCT_GROUP'])["ALLOCATED_POINTS"]
cust["ALLOCATED_POINTS_BURN_LAG1"] = df[df["type"]=="Burn"].set_index(['MOBILE','PRODUCT_GROUP']).groupby(['MOBILE','PRODUCT_GROUP']).shift(-1).reset_index().drop_duplicates(subset=['MOBILE','PRODUCT_GROUP']).set_index(['MOBILE','PRODUCT_GROUP'])["ALLOCATED_POINTS"]
cust["ALLOCATED_POINTS_BURN_LAG2"] = df[df["type"]=="Burn"].set_index(['MOBILE','PRODUCT_GROUP']).groupby(['MOBILE','PRODUCT_GROUP']).shift(-2).reset_index().drop_duplicates(subset=['MOBILE','PRODUCT_GROUP']).set_index(['MOBILE','PRODUCT_GROUP'])["ALLOCATED_POINTS"]
cust["ALLOCATED_POINTS_BURN_LAG3"] = df[df["type"]=="Burn"].set_index(['MOBILE','PRODUCT_GROUP']).groupby(['MOBILE','PRODUCT_GROUP']).shift(-3).reset_index().drop_duplicates(subset=['MOBILE','PRODUCT_GROUP']).set_index(['MOBILE','PRODUCT_GROUP'])["ALLOCATED_POINTS"]

In [66]:
cust.reset_index(inplace=True)

In [109]:
cust[cust["PRODUCT_GROUP"]=="CD"][CD_2YR_PREDICTORS].head()

,month_nunique_DEBIT_1000_Earn,mesdq_max,month_nunique_FUEL_1000_Earn,month_nunique_FUEL_365_by_1000_Earn,month_nunique_E_WALLET_1000_Earn,month_nunique_E_WALLET_180_by_1000_Burn,month_nunique_GROCERY_365_by_1000_Earn,month_nunique_FUEL_180_by_1000_Earn,month_nunique_GROCERY_1000_Earn,ALLOCATED_POINTS_mean_E_WALLET_180_by_1000_Burn,...,ALLOCATED_POINTS_sum_FUEL_365_by_1000_Earn,ACTIVITY_VALUE_max_FUEL_90_Earn,ACTIVITY_VALUE_std_E_WALLET_1000_Earn,ACTIVITY_VALUE_max_FUEL_180_Earn,ALLOCATED_POINTS_sum_GROCERY_180_by_1000_Earn,ALLOCATED_POINTS_max_FUEL_1000_Earn,ALLOCATED_POINTS_std_DEBIT_180_Earn,ALLOCATED_POINTS_sum_E_WALLET_180_Burn,ALLOCATED_POINTS_median_FUEL_180_Earn,ALLOCATED_POINTS_mean_FUEL_90_Earn
0,NaN,14.45,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN
2,NaN,17.36,2.0,1.0,NaN,NaN,NaN,0.5,NaN,NaN,...,1.0,NaN,NaN,100.0,NaN,2.0,NaN,NaN,1.0,NaN
4,NaN,13.62,NaN,NaN,NaN,NaN,1.0,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,...,1.0,100.0,NaN,100.0,NaN,1.0,NaN,NaN,1.0,1.0
6,14.0,13.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.12132,NaN,NaN,NaN

In [67]:
cust.to_pickle("cust_mesdq_20191105.pkl")

In [110]:
cust["CD_2YR_OVERLAP_MDL_SCORE"] = -9999
cust["CL_2YR_OVERLAP_MDL_SCORE"] = -9999
cust["CD_FULL_OVERLAP_MDL_SCORE"] = -9999
cust["CL_FULL_OVERLAP_MDL_SCORE"] = -9999

In [111]:
loaded_modelcd2yr = pickle.load(open(r"..\\2yroverlap\\cd\\xgb_cd_fstq_wo_hc_mesdq",'rb'))

In [112]:
CD_2YR_PREDICTORS = ['month_nunique_DEBIT_1000_Earn',
  'mesdq_max',
  'month_nunique_FUEL_1000_Earn',
  'month_nunique_FUEL_365_by_1000_Earn',
  'month_nunique_E_WALLET_1000_Earn',
  'month_nunique_E_WALLET_180_by_1000_Burn',
  'month_nunique_GROCERY_365_by_1000_Earn',
  'month_nunique_FUEL_180_by_1000_Earn',
  'month_nunique_GROCERY_1000_Earn',
  'ALLOCATED_POINTS_mean_E_WALLET_180_by_1000_Burn',
  'ALLOCATED_POINTS_median_E_WALLET_180_by_1000_Burn',
  'ACTIVITY_VALUE_sum_FUEL_365_by_1000_Earn',
  'ALLOCATED_POINTS_max_FUEL_180_Earn',
  'ALLOCATED_POINTS_sum_E_WALLET_180_by_1000_Earn',
  'ALLOCATED_POINTS_max_FUEL_90_Earn',
  'month_nunique_E_WALLET_180_by_1000_Earn',
  'ALLOCATED_POINTS_std',
  'ALLOCATED_POINTS_sum_E_WALLET_180_by_1000_Burn',
  'MOB',
  'ACTIVITY_VALUE_sum_GROCERY_90_by_1000_Earn',
  'month_nunique_FUEL_365_Earn',
  'ALLOCATED_POINTS_mean_FUEL_180_Earn',
  'month_nunique_DEBIT_365_by_1000_Earn',
  'ALLOCATED_POINTS_median_FUEL_365_Earn',
  'ACTIVITY_VALUE_max_GROCERY_90_by_1000_Earn',
  'ALLOCATED_POINTS_std_DEBIT_365_Earn',
  'ACTIVITY_ID_count_FUEL_365_by_1000_Earn',
  'ACTIVITY_VALUE_std',
  'ALLOCATED_POINTS_min_E_WALLET_365_Burn',
  'ALLOCATED_POINTS_max_DEBIT_365_Earn',
  'ALLOCATED_POINTS_sum_FUEL_365_by_1000_Earn',
  'ACTIVITY_VALUE_max_FUEL_90_Earn',
  'ACTIVITY_VALUE_std_E_WALLET_1000_Earn',
  'ACTIVITY_VALUE_max_FUEL_180_Earn',
  'ALLOCATED_POINTS_sum_GROCERY_180_by_1000_Earn',
  'ALLOCATED_POINTS_max_FUEL_1000_Earn',
  'ALLOCATED_POINTS_std_DEBIT_180_Earn',
  'ALLOCATED_POINTS_sum_E_WALLET_180_Burn',
  'ALLOCATED_POINTS_median_FUEL_180_Earn',
  'ALLOCATED_POINTS_mean_FUEL_90_Earn']

In [130]:
cust.loc[cust["PRODUCT_GROUP"]=="CD","CD_2YR_OVERLAP_MDL_SCORE"] = loaded_modelcd2yr.predict_proba(
    cust[cust["PRODUCT_GROUP"]=="CD"][CD_2YR_PREDICTORS],ntree_limit= loaded_modelcd2yr.best_ntree_limit)[:,1]

In [96]:
loaded_modelcl2yr = pickle.load(open(r"..\\2yroverlap\\clx\\xgb_cd_fstq_wo_hc_cl_mix",'rb'))

In [97]:
CL_2YR_PREDICTORS = ['ACTIVITY_DATE_nunique_E_WALLET_180_Burn',
  'mesdq_max',
  'ALLOCATED_POINTS_mean_E_WALLET_180_by_1000_Burn',
  'month_nunique_E_WALLET_180_by_1000_Burn',
  'ACTIVITY_VALUE_mean_FUEL_1000_Earn',
  'ACTIVITY_ID_count_E_WALLET_180_by_1000_Burn',
  'MOB',
  'month_nunique_E_WALLET_180_Burn',
  'ACTIVITY_VALUE_sum_FUEL_365_by_1000_Earn',
  'ALLOCATED_POINTS_sum_E_WALLET_180_by_1000_Burn',
  'month_nunique_GROCERY_1000_Earn',
  'ACTIVITY_VALUE_median_FUEL_1000_Earn',
  'ALLOCATED_POINTS_min_E_WALLET_365_Burn',
  'ALLOCATED_POINTS_sum_FUEL_1000_Earn',
  'month_nunique_E_WALLET_180_by_1000_Earn',
  'ACTIVITY_DATE_nunique_DEBIT_365_Earn',
  'month_nunique_DEBIT_1000_Earn',
  'ALLOCATED_POINTS_mean_FUEL_365_by_1000_Earn',
  'ACTIVITY_VALUE_sum_GROCERY_180_by_1000_Earn',
  'ALLOCATED_POINTS_sum_FUEL_365_by_1000_Earn',
  'ALLOCATED_POINTS_min_E_WALLET_180_Burn',
  'ACTIVITY_ID_count_FUEL_365_by_1000_Earn',
  'ALLOCATED_POINTS_EARN_LAG3',
  'ALLOCATED_POINTS_max_DEBIT_365_Earn',
  'ALLOCATED_POINTS_median_FUEL_1000_Earn',
  'ACTIVITY_VALUE_std',
  'ALLOCATED_POINTS_sum_GROCERY_90_by_1000_Earn',
  'ALLOCATED_POINTS_sum_E_WALLET_180_Burn',
  'ACTIVITY_VALUE_median_E_WALLET_1000_Earn',
  'ALLOCATED_POINTS_max_APPAREL_365_Earn',
  'ALLOCATED_POINTS_sum_GROCERY_180_by_1000_Earn',
  'ACTIVITY_VALUE_std_E_WALLET_1000_Earn',
  'ACTIVITY_ID_count_GROCERY_180_by_1000_Earn',
  'ALLOCATED_POINTS_max_DEBIT_1000_Earn',
  'ALLOCATED_POINTS_std_DEBIT_1000_Earn',
  'ACTIVITY_VALUE_median',
  'ALLOCATED_POINTS_sum_DEBIT_1000_Earn',
  'ALLOCATED_POINTS_EARN_LAG1',
  'ALLOCATED_POINTS_sum_365_Earn_by_Burn',
  'ALLOCATED_POINTS_EARN_LAG2',
  'ALLOCATED_POINTS_sum_1000_Earn_by_Burn',
  'ALLOCATED_POINTS_sum_GROCERY_365_by_1000_Earn']

In [137]:
cust.loc[cust["PRODUCT_GROUP"]=="CL","CL_2YR_OVERLAP_MDL_SCORE"] = loaded_modelcl2yr.predict_proba(
    cust[cust["PRODUCT_GROUP"]=="CL"][CL_2YR_PREDICTORS],
     ntree_limit= loaded_modelcl2yr.best_ntree_limit)[:,1]

In [138]:
loaded_modelcd_full = pickle.load(open(r"..\\FullDataAnalysis\\xgb_cd_fstq_wo_hc1.mod",'rb'))

CD_FULL_PREDICTORS = ['ALLOCATED_POINTS_std',
  'ALLOCATED_POINTS_EARN_LAG2',
  'ACTIVITY_ID_nunique',
  'ALLOCATED_POINTS_EARN_LAG1',
  'mesdq_max',
  'month_nunique_FUEL_1000_Earn',
  'ALLOCATED_POINTS_EARN_LAG3',
  'month_nunique_DEBIT_1000_Earn',
  'ACTIVITY_VALUE_std',
  'month_nunique_DEBIT_180_Earn',
  'month_nunique_GROCERY_1000_Earn',
  'month_nunique_DEBIT_365_Earn',
  'month_nunique_DEBIT_90_Earn',
  'month_nunique_E_WALLET_365_by_1000_Earn',
  'ACTIVITY_ID_count_DEBIT_180_Earn',
  'month_nunique_FUEL_365_Earn',
  'month_nunique_FUEL_180_by_1000_Earn',
  'month_nunique_DEBIT_90_by_1000_Earn',
  'ALLOCATED_POINTS_sum_E_WALLET_365_by_1000_Earn',
  'ACTIVITY_ID_count_FUEL_1000_Earn',
  'MOB',
  'ACTIVITY_ID_count_FUEL_365_by_1000_Earn',
  'ALLOCATED_POINTS_max_FUEL_180_Earn',
  'ACTIVITY_DATE_nunique_E_WALLET_365_Earn',
  'ACTIVITY_DATE_nunique_DEBIT_180_by_1000_Earn',
  'ALLOCATED_POINTS_std_DEBIT_90_Earn',
  'ALLOCATED_POINTS_median_DEBIT_90_Earn',
  'ACTIVITY_DATE_nunique_DEBIT_365_by_1000_Earn',
  'ACTIVITY_VALUE_sum_E_WALLET_180_by_1000_Earn',
  'month_nunique_E_WALLET_1000_Burn',
  'ALLOCATED_POINTS_max_FUEL_365_Earn',
  'ALLOCATED_POINTS_mean_FUEL_180_Earn',
  'ACTIVITY_VALUE_sum_FUEL_1000_Earn',
  'ACTIVITY_VALUE_sum_E_WALLET_365_by_1000_Earn']

cust.loc[cust["PRODUCT_GROUP"]=="CD","CD_FULL_OVERLAP_MDL_SCORE"] = loaded_modelcd_full.predict_proba(
    cust[cust["PRODUCT_GROUP"]=="CD"][CD_FULL_PREDICTORS],
     ntree_limit= loaded_modelcd_full.best_ntree_limit)[:,1]

In [139]:
loaded_modelcl_full = pickle.load(open(r"..\\FullDataAnalysis\\xgb_cl_fstq_wo_hc.mod",'rb'))

CL_FULL_PREDICTORS = ['ACTIVITY_VALUE_std',
  'month_nunique_DEBIT_1000_Earn',
  'mesdq_max',
  'month_nunique_GROCERY_1000_Earn',
  'ALLOCATED_POINTS_std',
  'month_nunique_DEBIT_90_by_1000_Earn',
  'ALLOCATED_POINTS_std_GROCERY_1000_Earn',
  'ALLOCATED_POINTS_sum_DEBIT_90_by_1000_Earn',
  'ALLOCATED_POINTS_mean_E_WALLET_365_Earn',
  'ALLOCATED_POINTS_EARN_LAG3',
  'ALLOCATED_POINTS_std_E_WALLET_1000_Earn',
  'ALLOCATED_POINTS_median_E_WALLET_180_Earn',
  'month_nunique_FUEL_1000_Earn',
  'ALLOCATED_POINTS_mean_DEBIT_90_by_1000_Earn',
  'ALLOCATED_POINTS_max_APPAREL_365_Earn',
  'ALLOCATED_POINTS_sum_365_Burn',
  'ALLOCATED_POINTS_mean_E_WALLET_180_Earn',
  'ALLOCATED_POINTS_max_DEBIT_1000_Earn',
  'ALLOCATED_POINTS_mean_E_WALLET_365_by_1000_Earn',
  'ALLOCATED_POINTS_sum_DEBIT_1000_Earn',
  'ACTIVITY_VALUE_median_GROCERY_1000_Earn',
  'ALLOCATED_POINTS_sum_180_Burn',
  'ACTIVITY_VALUE_median_E_WALLET_180_Earn']

cust.loc[cust["PRODUCT_GROUP"]=="CL","CL_FULL_OVERLAP_MDL_SCORE"] = loaded_modelcl_full.predict_proba(
    cust[cust["PRODUCT_GROUP"]=="CL"][CL_FULL_PREDICTORS],
     ntree_limit= loaded_modelcl_full.best_ntree_limit)[:,1]

In [140]:
[x for x in cust.columns if "OVERLAP" in x]

['CD_2YR_OVERLAP_MDL_SCORE',
 'CL_2YR_OVERLAP_MDL_SCORE',
 'CD_FULL_OVERLAP_MDL_SCORE',
 'CL_FULL_OVERLAP_MDL_SCORE']

In [141]:
relevant_cols  = ['MOBILE',"PRODUCT_GROUP","CD_2YR_OVERLAP_MDL_SCORE",'CL_2YR_OVERLAP_MDL_SCORE',
 'CD_FULL_OVERLAP_MDL_SCORE',
 'CL_FULL_OVERLAP_MDL_SCORE',]

In [144]:
final = pd.merge(hcdf,cust[relevant_cols],on=["MOBILE","PRODUCT_GROUP"],how = "left")

In [145]:
final[(final["CD_2YR_OVERLAP_MDL_SCORE"] != -9999) & (final["PRODUCT_GROUP"] == "CD") ]

,PRODUCT_GROUP,MOBILE,HC_SCORE,CLIENT_EXI_3M,SKP_CREDIT_CASE,TIME_DECISION_DATE,SCORE_CB,SCORE_CB_BAND,CLIENT_GENDER,CLIENT_AGE_YEARS,...,RISK_FSPD30,RISK_AGRF60,RISK_FSTPD30,RISK_AGRF90,RISK_FSTQPD30,RISK_AGRF120,CD_2YR_OVERLAP_MDL_SCORE,CL_2YR_OVERLAP_MDL_SCORE,CD_FULL_OVERLAP_MDL_SCORE,CL_FULL_OVERLAP_MDL_SCORE
104597,CD,9994294070,0.010803,N,227810922,2019-03-07,1.0,b_1_5,M,32.54,...,0,1,0,1,0,1,0.314936,-9999.0,0.525112,-9999.0
104598,CD,7433082354,0.013201,Y,233115690,2019-04-19,726.0,e_680+,M,22.52,...,0,1,0,1,0,1,0.352182,-9999.0,0.454600,-9999.0
104599,CD,8446667663,NaN,NaN,77353612,2015-08-05,-1.0,a_-1,M,24.02,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
104600,CD,9654752572,0.020422,Y,171928958,2018-02-24,671.0,d_566_680,M,26.03,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
104601,CD,9814330190,0.033336,Y,213950051,2018-11-07,722.0,e_680+,M,28.64,...,0,1,0,1,0,1,0.306889,-9999.0,0.466258,-9999.0
104602,CD,9836328609,0.015972,N,206384251,2018-09-03,-1.0,a_-1,M,25.38,...,0,1,0,1,0,1,0.348055,-9999.0,0.501652,-9999.0
104603,CD,9991955500,0.003738,N,206087380,2018-08-31,-1.0,a_-1,M,34.15,...,0,1,0,1,0,1,0.229889,-9999.0,0.432529,-9999.0
104605,CD,9611080238,0.004767,N,198284553,2018-07-01,663.0,d_566_680,M,43.52,...,0,1,1,1,1,1,0.177984,-9999.0,0.395322,-9999.0
104606,CD,9592229584,0.033048,Y,207034894,2018-09-09,-1.0,a_-1,M,28.69,...,0,1,0,1,0,1,0.465405,-9999.0,0.532557,-9999.0
104607,CD,9030982928,0.019307,N,135722241,2017-10-13,727.0,e_680+,M,41.34,...,0,1,0,1,0,1,0.301385,-9999.0,0.433805,-9999.0
104608,CD,9838765645,0.059808,Y,205418305,2018-08-25,723.0,e_680+,M,32.98,...,0,1,0,1,0,1,0.166132,-9999.0,0.368974,-9999.0
104609,CD,7874148066,0.011574,Y,196732749,2018-06-16,726.0,e_680+,M,37.45,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
104610,CD,9871069578,NaN,NaN,89175822,2016-08-31,721.0,e_680+,M,26.00,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
104611,CD,9855377691,0.026502,N,237186900,2019-05-25,710.0,e_680+,M,57.48,...,0,1,0,1,0,1,0.339975,-9999.0,0.564559,-9999.0
104612,CD,9958501984,NaN,N,100970323,2017-02-16,632.0,d_566_680,M,33.26,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
104613,CD,8608514469,0.006032,Y,238751255,2019-06-08,690.0,e_680+,M,36.46,...,0,1,0,1,0,0,0.236149,-9999.0,0.444482,-9999.0
104614,CD,9971437078,0.020080,N,189637135,2018-04-16,-1.0,a_-1,M,20.23,...,0,1,0,1,0,1,0.342184,-9999.0,0.501652,-9999.0
104615,CD,9995434611,NaN,NaN,92139849,2016-10-29,727.0,e_680+,M,37.45,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
104616,CD,9664336766,0.042226,Y,230737305,2019-03-31,590.0,d_566_680,M,46.66,...,1,1,1,1,1,1,0.328570,-9999.0,0.503170,-9999.0
104617,CD,7549190321,0.021718,Y,187755807,2018-03-28,727.0,e_680+,F,35.88,...,0,1,0,1,0,1,0.381743,-9999.0,0.466258,-9999.0
104618,CD,9386965631,0.009172,N,202341215,2018-08-09,-1.0,a_-1,M,24.65,...,0,1,0,1,0,1,0.364304,-9999.0,0.447198,-9999.0
104619,CD,7899774589,0.041175,N,136906778,2017-10-20,720.0,e_680+,M,21.18,...,0,1,0,1,0,1,0.413498,-9999.0,0.547622,-9999.0
104620,CD,9975322873,0.004520,N,197483613,2018-06-23,729.0,e_680+,M,42.88,...,0,1,0,1,0,1,0.347565,-9999.0,0.509115,-9999.0
104621,CD,9825911174,NaN,N,100770273,2017-02-14,775.0,e_680+,M,49.83,...,0,1,0,1,0,1,0.339975,-9999.0,0.564559,-9999.0
104622,CD,9374502520,NaN,N,103194329,2017-03-20,677.0,d_566_680,M,33.89,...,0,1,0,1,0,1,0.340482,-9999.0,0.444482,-9999.0
104623,CD,8872287090,0.019891,Y,243413917,2019-07-11,726.0,e_680+,M,27.21,...,0,1,0,0,0,0,0.347315,-9999.0,0.497158,-9999.0
104624,CD,8076068093,0.008865,Y,208347745,2018-09-19,-1.0,a_-1,F,31.72,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
104625,CD,8010530285,0.014616,N,207302151,2018-09-11,-1.0,a_-1,M,34.45,...,0,1,0,1,0,1,0.436722,-9999.0,0.564559,-9999.0
104627,CD,9893958244,0.021882,Y,134173658,2017-10-01,694.0,e_680+,M,23.26,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
104628,CD,8686986539,0.014873,N,195003381,2018-06-04,-1.0,a_-1,F,21.52,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
637795,CD,9670502824,0.009883,N,141211941,2017-11-24,-1.0,a_-1,M,25.18,...,0,1,0,1,0,1,0.417591,-9999.0,0.498528,-9999.0
637796,CD,8454089665,0.015730,N,205858922,2018-08-29,-1.0,a_-1,M,28.74,...,0,1,0,1,0,1,0.332032,-9999.0,0.506233,-9999.0
637797,CD,9867534315,0.012211,N,208489640,2018-09-20,-1.0,a_-1,F,22.64,...,0,1,0,1,0,1,0.367023,-9999.0,0.455790,-9999.0
637798,CD,9592752951,0.014467,N,212374914,2018-10-23,NaN,NaN,M,27.11,...,0,1,0,1,0,1,0.334291,-9999.0,0.448140,-9999.0
637799,CD,7385138204,0.004310,N,235904874,2019-05-14,652.0,d_566_680,M,29.36,...,0,1,0,1,0,1,0.314691,-9999.0,0.496316,-9999.0
637800,CD,9830414558,0.003522,N,133582238,2017-09-26,721.0,e_680+,M,31.43,...,0,1,0,1,0,1,0.446214,-9999.0,0.564559,-9999.0
637801,CD,9855519255,NaN,NaN,79236147,2015-10-12,-1.0,a_-1,M,41.31,...,0,1,0,1,0,1,0.249050,-9999.0,0.447880,-9999.0
637802,CD,9094320434,0.023250,N,198112100,2018-06-29,-1.0,a_-1,M,26.45,...,0,1,0,1,0,1,0.327944,-9999.0,0.561533,-9999.0
637803,CD,9572569752,0.010384,N,238612786,2019-06-07,-1.0,a_-1,F,19.32,...,0,1,0,1,0,0,0.447565,-9999.0,0.561533,-9999.0
637804,CD,9909956522,NaN,N,102264941,2017-03-07,725.0,e_680+,M,21.89,...,0,1,0,1,0,1,0.185756,-9999.0,0.385269,-9999.0
637805,CD,9690348520,NaN,Y,102926721,2017-03-16,727.0,e_680+,M,20.88,...,0,1,0,1,0,1,0.334195,-9999.0,0.471333,-9999.0
637807,CD,9872797790,0.027348,Y,172089667,2018-02-26,679.0,d_566_680,M,27.63,...,0,1,0,1,0,1,0.332350,-9999.0,0.498528,-9999.0
637808,CD,9234413377,0.015008,Y,211155516,2018-10-13,NaN,NaN,M,36.94,...,0,1,0,1,0,1,0.316246,-9999.0,0.490330,-9999.0
637809,CD,9839842322,NaN,NaN,89051754,2016-08-28,727.0,e_680+,M,28.25,...,0,1,0,1,0,1,0.203490,-9999.0,0.417100,-9999.0
637810,CD,9878552812,0.037206,N,114234790,2017-06-23,740.0,e_680+,M,34.80,...,0,1,0,1,0,1,0.330035,-9999.0,0.414065,-9999.0
637811,CD,9952258915,NaN,NaN,95480635,2016-12-09,731.0,e_680+,M,46.54,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
637812,CD,9166699969,0.013259,Y,207921822,2018-09-16,-1.0,a_-1,M,25.26,...,0,1,0,1,0,1,0.329037,-9999.0,0.500516,-9999.0
637813,CD,8933041111,0.018828,N,130080019,2017-08-21,591.0,d_566_680,M,34.00,...,0,1,0,1,0,1,0.381817,-9999.0,0.458983,-9999.0
637814,CD,9712165386,NaN,N,105064356,2017-04-10,-1.0,a_-1,M,32.92,...,0,1,0,1,0,1,0.318338,-9999.0,0.477854,-9999.0
637815,CD,7070222870,0.020111,N,210925126,2018-10-11,NaN,NaN,M,22.30,...,0,1,0,1,0,1,0.434174,-9999.0,0.564559,-9999.0
637816,CD,8981668438,0.006400,N,238170833,2019-06-03,-1.0,a_-1,M,29.25,...,0,1,0,1,0,0,0.328634,-9999.0,0.497392,-9999.0
637817,CD,8796062930,0.006241,N,200441156,2018-07-21,698.0,e_680+,M,32.19,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
637818,CD,9654951367,0.006679,N,206094885,2018-08-31,-1.0,a_-1,M,27.66,...,0,1,0,1,0,1,0.236796,-9999.0,0.389203,-9999.0
637819,CD,8737890276,0.039957,Y,196308312,2018-06-12,710.0,e_680+,M,20.58,...,0,1,0,1,0,1,0.347315,-9999.0,0.468987,-9999.0
637820,CD,9268882691,0.002591,N,213503762,2018-11-04,NaN,NaN,M,27.76,...,0,1,0,1,0,1,0.329408,-9999.0,0.498528,-9999.0
637821,CD,9650786760,NaN,NaN,95584475,2016-12-11,-1.0,a_-1,F,22.60,...,0,1,0,1,0,1,0.267791,-9999.0,0.383194,-9999.0
637822,CD,8818817446,0.020896,Y,208965320,2018-09-24,-1.0,a_-1,M,26.73,...,0,1,0,1,0,1,NaN,NaN,NaN,NaN
637823,CD,9923130478,0.005269,N,206083755,2018-08-31,-1.0,a_-1,M,52.66,...,0,1,0,1,0,1,0.339975,-9999.0,0.564559,-9999.0
637824,CD,9659565030,0.006355,N,169645879,2018-02-01,-1.0,a_-1,M,24.65,...,0,1,0,1,0,1,0.339975,-9999.0,0.564559,-9999.0
637825,CD,9880752297,0.025162,N,197157253,2018-06-20,-1.0,a_-1,M,38.47,...,0,1,0,1,0,1,0.236798,-9999.0,0.450077,-9999.0

In [146]:
final1 = final[pd.isna(final["HC_SCORE"])==False]

In [ ]:
final

In [153]:
y_pred = final1[(final1["PRODUCT_GROUP"]=="CD") & (pd.isna(final1["CD_2YR_OVERLAP_MDL_SCORE"]) == False)]["CD_2YR_OVERLAP_MDL_SCORE"]
y      = final1[(final1["PRODUCT_GROUP"]=="CD") & (pd.isna(final1["CD_2YR_OVERLAP_MDL_SCORE"]) == False)]["RISK_FSTQPD30"]
print ("Gini for CD_2YR_OVERLAP_MDL_SCORE ",metrics.roc_auc_score(y,y_pred)*2-1)

Gini for CD_2YR_OVERLAP_MDL_SCORE  0.13241069846937914

In [154]:
y_pred = final1[(final1["PRODUCT_GROUP"]=="CL") & (pd.isna(final1["CL_2YR_OVERLAP_MDL_SCORE"]) == False)]["CL_2YR_OVERLAP_MDL_SCORE"]
y      = final1[(final1["PRODUCT_GROUP"]=="CL") & (pd.isna(final1["CL_2YR_OVERLAP_MDL_SCORE"]) == False)]["RISK_FSTQPD30"]
print ("Gini for CL_2YR_OVERLAP_MDL_SCORE ",metrics.roc_auc_score(y,y_pred)*2-1)

Gini for CL_2YR_OVERLAP_MDL_SCORE  0.1322295548593173

In [156]:
y_pred = final1[(final1["PRODUCT_GROUP"]=="CD") & (pd.isna(final1["CD_FULL_OVERLAP_MDL_SCORE"]) == False)]["CD_FULL_OVERLAP_MDL_SCORE"]
y      = final1[(final1["PRODUCT_GROUP"]=="CD") & (pd.isna(final1["CD_FULL_OVERLAP_MDL_SCORE"]) == False)]["RISK_FSTQPD30"]
print ("Gini for CD_FULL_OVERLAP_MDL_SCORE ",metrics.roc_auc_score(y,y_pred)*2-1)

Gini for CD_FULL_OVERLAP_MDL_SCORE  0.1666524602738919

In [157]:
y_pred = final1[(final1["PRODUCT_GROUP"]=="CL") & (pd.isna(final1["CL_FULL_OVERLAP_MDL_SCORE"]) == False)]["CL_FULL_OVERLAP_MDL_SCORE"]
y      = final1[(final1["PRODUCT_GROUP"]=="CL") & (pd.isna(final1["CL_FULL_OVERLAP_MDL_SCORE"]) == False)]["RISK_FSTQPD30"]
print ("Gini for CL_FULL_OVERLAP_MDL_SCORE ",metrics.roc_auc_score(y,y_pred)*2-1)

Gini for CL_FULL_OVERLAP_MDL_SCORE  0.24369497420373043

In [159]:
final1.to_csv("final_20191107_scored.csv")